@import "tailwindcss";

@theme {
  --font-sans: "Google Sans", "Google Sans Display", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html, body, * {
  font-family: var(--font-sans);
}

.mapboxgl-ctrl-logo,
.mapboxgl-ctrl-attrib {
  display: none !important;
}
